@charset "utf-8";
/* CSS Document */

/*================基本样式重置================*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img,span,i,a,em,strong,b,input,textarea { margin:0; padding:0; }
html, body{ height:100%;}
body { font-family:"微软雅黑"; font-size:12px; color:#555;background:#f6f6f6;background:url(../images/cen_bg.jpg) repeat;}
li { list-style:none; }
a,img,input { border:0 none; }
a { text-decoration:none; outline:none; }
a:hover { text-decoration:none; }
a:focus,input:focus { outline:0 none;}
/*textarea { resize:none; font-size:12px;} 去掉火狐和谷歌浏览器的Textarea改变尺寸大小功能*/
i,em{ font-style:normal;}

/*================定义通用样式================*/
.w{ width:1174px;margin:0 auto;}
.ww{ width:1174px;}
.fl { float:left; }
.fr { float:right; }
.hide { display:none;}
.clear { clear:both; }
.clearfix { zoom:1;}
.clearfix:after { content:" "; display:block; clear:both; height:0; }
.icon { background:url(../images/icon_bg.png) no-repeat;}
a img.opacity { filter:alpha(opacity=100); opacity:1; -moz-opacity:1; } 
a:hover img.opacity { filter:alpha(opacity=80); opacity:0.8; -moz-opacity:0.8; }
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt25{ margin-top:25px;}
.mt35{ margin-top:35px;}

.ml30{ margin-left:30px;}
.ml5{ margin-left:5px;}
.ml49{margin-left:49px;}

/*================首页样式================*/
.top {position:relative;width:100%;height:116px;background:url(../images/top_bg.jpg) repeat-x;z-index:10;}
.top .t_cen{position:relative;height:127px;z-index:10;}
.top .t_c_logo{position:absolute;z-index:100;left:68px;top:13px;width:157px;height:174px;}
.top .t_c_logo img{width:157px;height:174px;}
.top .t_c_lr{position:absolute;width:84px;height:127px;z-index:10;}
.top .t_c_left{left:0px;top:0px;background:url(../images/menu_left.jpg) 59px 61px no-repeat;}
.top .t_c_right{left:1090px;top:0px;background:url(../images/menu_right.jpg) 0 61px no-repeat;}
.top .t_c_cen{position:absolute;left:83px;top:0px;width:1008px;height:127px;background:url(../images/menu_cen.jpg) repeat-x;z-index:10;}
.top .t_c_cen .t_c_top{position:relative;z-index:20;width:407px;height:61px;padding-left:599px;}
.top .t_c_cen .t_c_top img{float:left;margin-left:20px;}
.top .t_c_cen .t_c_top .top_sc{width:42px;height:40px;cursor:pointer;margin-top:15px;}
.top .t_c_cen .t_c_top .top_tel{width:249px;height:57px;margin-top:7px;}
.top .t_c_cen .t_c_bottom{position:relative;z-index:20;width:1006px;height:66px;margin-left:11px;background:url(../images/menu_line_bg.jpg) 162px 11px no-repeat;z-index:25;}
.top .t_c_cen .t_c_bottom .thisMenu{position:absolute;left:162px;top:4px;width:109px;height:68px;background:url('../images/menu_this.png') no-repeat;z-index:30;}
.top .t_c_cen .t_c_bottom ul{position:absolute;left:162px;top:11px;width:832px;z-index:35}
.top .t_c_cen .t_c_bottom ul li{position:relative;float:left;width:70px;padding:10px 17px 0;text-align:center;z-index:35}
.top .t_c_cen .t_c_bottom ul li a{display:block;width:70px;height:45px;}
.top .t_c_cen .t_c_bottom ul li a em{display:block;font-size:16px;color:#FFF;}
.top .t_c_cen .t_c_bottom ul li a i{display:block;font-size:8px;color:#FFF;text-align:right;padding-right:2px;font-family:"Arial";}
/*===============子菜单定位=================*/
.top .t_c_cen .t_c_bottom ul li .Nodes{position:absolute;overflow:hidden;width:80px;height:0px;left:14px;top:50px;padding-top:5px;z-index:100;}
.top .t_c_cen .t_c_bottom ul li .Nodes img{float:left;width:80px;height:14px;}
.top .t_c_cen .t_c_bottom ul li .Nodes ul{position:static;float:left;width:80px;left:0px;top:0px;z-index:100;background-color:#48bed8;}
.top .t_c_cen .t_c_bottom ul li .Nodes ul li{width:80px;height:30px;float:none;padding:0;margin:0;border-bottom: 1px dashed #e73c7c;}
.top .t_c_cen .t_c_bottom ul li .Nodes ul li a{display:block;width:80px;height:30px;color:#FFF;line-height:30px;}
.top .t_c_cen .t_c_bottom ul li .Nodes ul li a:hover{text-decoration:underline;color:#333;background:#FFF;}

