@charset "utf-8";
/* CSS Document */
body,ul,li,blockquote {PADDING: 0px;MARGIN: 0px;}
ul,li{list-style-type: none;}
html,body{ margin:0px; padding:0px;}
a {COLOR: #105b49; TEXT-DECORATION: none; outline: none}
a:hover {COLOR: #0a382d; TEXT-DECORATION: underline}
.clear{ width:100%; height:0px; line-height:1px; font-size:1px; clear:both;}
#MutiNav {font-size:13px;color:#FFFFFF;
	background-image: url(nav.png);
	background-repeat: repeat-x;
	background-position: left top;}
#MutiNav A {TEXT-DECORATION: none}
#MutiNav .multiUl { width:100%; height:35px; CLEAR: both; display:block;}
#MutiNav .multiUl LI {display:block; float:left; height:35px; LINE-HEIGHT: 35px; POSITION: relative;}
#MutiNav .multiUl LI A.go {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; Z-INDEX: 300; PADDING-BOTTOM: 0px; MARGIN: 0px 7px; WIDTH: auto; COLOR: #edf7ea; LINE-HEIGHT: 35px; PADDING-TOP: 0px; HEIGHT: 35px; TEXT-ALIGN: center
}
#MutiNav .multiUl LI A.on {
	FONT-WEIGHT: bold; COLOR: #dfe8d9; TEXT-DECORATION: none
}
#Nav LI.s {
	DISPLAY: inline; FLOAT: left; WIDTH: 8px; COLOR: #517b55; LINE-HEIGHT: 35px; HEIGHT: 35px; TEXT-ALIGN: center
}
#MutiNav .multiUl LI BLOCKQUOTE {
	DISPLAY: none; Z-INDEX: 201; LEFT:0px; POSITION: absolute; TOP: 30px; HEIGHT: auto
}
#MutiNav .multiUl LI BLOCKQUOTE .ChildNavIn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(icon.png) #1b453b no-repeat 37px -730px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 100px; COLOR: #dee6e9; PADDING-TOP: 10px; HEIGHT: auto; TEXT-ALIGN: center
}
#MutiNav .multiUl LI BLOCKQUOTE .ChildNavIn A {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 3px 6px; WIDTH: 80%; COLOR: #dee6e9; LINE-HEIGHT: 18px; PADDING-TOP: 2px; BORDER-BOTTOM: #255f51 1px dotted; TEXT-ALIGN: center
}
#MutiNav .multiUl LI BLOCKQUOTE A:hover {
	BACKGROUND: #2c705f; COLOR: #fefbc2! important
}
#MutiNav .multiUl #TopNavDept {
	
}
#MutiNav .multiUl #TopNavDept BLOCKQUOTE {
	DISPLAY: none; LEFT: -254px
}
#MutiNav .multiUl #TopNavDept BLOCKQUOTE .ChildNavIn {
	BACKGROUND: #1b453b; WIDTH: 1000px
}
#MutiNav .multiUl #TopNavDept .NavDeptIn {
	DISPLAY: inline; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN: 0px 0px 0px 20px; WIDTH: 310px; TEXT-ALIGN: left! important
}
#MutiNav .multiUl #TopNavDept .NavDeptIn A {
	FLOAT: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#TopNavDept .NavDeptIn H6 {
	OVERFLOW: hidden; WIDTH: 310px; LINE-HEIGHT: 23px! important; BORDER-BOTTOM: #2c705f 1px solid; HEIGHT: 23px! important; TEXT-ALIGN: left
}
#TopNavDept .NavDeptIn H6 A {
	DISPLAY: block; MARGIN: 0px; LINE-HEIGHT: 23px; HEIGHT: 23px! important
}
#MutiNav .multiUl #TopNavDept .NavDeptIn .NavDeptInList {
	MARGIN-TOP: 5px; OVERFLOW: hidden; WIDTH: auto
}
#MutiNav .multiUl #TopNavDept .NavDeptIn .NavDeptInList A {
	FLOAT: left; MARGIN: 2px 1px 0px; WIDTH: auto; COLOR: #acbc9e; WHITE-SPACE: nowrap
}
#MutiNav .multiUl #TopNavDept .NavDeptInOther {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; OVERFLOW: hidden; PADDING-TOP: 5px
}
#MutiNav .multiUl #TopNavDept .NavDeptInOther A {
	PADDING-LEFT: 13px; BACKGROUND: url(icon.png) no-repeat 0px -116px; MARGIN: 0px 7px; WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
/*代码整理 - www.97zzw.com*/